
.summary-conatiner h2{

    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0;  
    text-transform: uppercase;

}
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -180px;
    height: 40px;
  }
  .card .card_title h3{
    color: #09080a;
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
  }
  .card .card_title p{
    color: #725d87;
    font-size: 22px;
    font-weight: 700;
  }
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }
 
  .search-summary-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search-summary-container .searchFieldSummary{
    width: 30%;
    margin-right: 10px;
    min-width: 300px;
  }
  .resetBtn{
    height: 45px;
    margin: 30px 0;
  }